body {
	font-family: verdana;
	  }

.header {

  background-color:pink;
  color: white;
  text-align: center;
  border:15px solid #3a864433;
  
}

.subheading {
	 background-color:#66ff66;
	 text-align: center;
	}


h1 {
    font-size:66px;    
	margin:24px;
}

h2 {
	 font-size:36px;
	 margin:12px;
 }

p {
  font-size: 20px;
  text-align:justify;
  color: white;
}

#container1 {	
	background-color: #2b7251;
}

#container2 {	
	background-color: #ff9980;
}



#content {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

#content-left {
	float: left;
	width: 50%;
	background-color:MediumSeaGreen;
}


#content-right {
	float: right;
	width: 50%;
	background-color:MediumSeaGreen;
}


.car3 {
	
  display: flex;
  align-items: top; 
  justify-content: center;
	
}

.carousel-item {
	float: left;
	width: 30%;
	color: #e6ffe6;
	font-size: 18px;
	text-align:justify;
	padding: 20px;
	background-color:grey;
	margin: 10px auto;

}


.break {
	clear:both;
}
	
.footer {
	clear:both;
	
	background-color: #cccccc;
	color: white;
	text-align: right;
	padding: 16px;
}
		